@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@200&display=swap');

p {
    font-family: Lato, Roboto, sans-serif;
    font-weight: 300;
    color: $text-color;
}

span {
    font-family: Lato, Roboto, sans-serif;
    font-weight: 300;
    color: $text-color;
}

input {
    font-family: Lato, Roboto, sans-serif;
    font-weight: 300;
}

button {
    font-family: Lato, Roboto, sans-serif;
    font-weight: 300;
}

h1 {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 200;
    color: $text-color;
}

h2 {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 200;
    color: $text-color;
}

h3 {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 200;
    color: $text-color;
}

h4 {
    font-family: Montserrat, Roboto, sans-serif;
    font-weight: 200;
    color: $text-color;
}
